<%- include('header'); -%>
    <div class="content">
        <h2 id="welcome">XYZ</h2>
        <h2 id="welcome">Deira</h2>
        <h2 id="welcome">0558271922</h2>
        <h2 id="welcome">XYZ123@gmail.com</h2>
        <br>
    </div>
<%- include('footer'); -%>
