<%- include('header'); -%>
    <div class="content">
        <h3 id="welcome">Enter Username : </h2>
            <input id="welcome"></input>
        <h3 id="welcome">Enter Password : </h2>
            <input id="welcome"></input>
        <br>
        <br>
    </div>
<%- include('footer'); -%>
